@import 'open-props/blue';
@import 'open-props/gray';
@import 'open-props/orange';

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  height: 11vh;
  font-size: 1.3em;
  border-bottom: 1px solid var(--gray-8);
}

.title {
  padding-left: 1rem;
  /* -webkit-text-stroke: 2px var(--gray-8); */
  justify-content: flex-end;
  color: var(--gray-7);
}

.icons {
  margin-left: auto;
  padding-right: 1rem;
}

@media screen and (max-width: 600px) {
  .header {
    font-size: 1.2em;
    height: 8vh;
  }
}