.calendarOptions {
  display: flex;
  height: 60%;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
  align-content: flex-start;
}

@media screen and (max-width: 600px) {
  .calendarOptions {
    gap: 5px;
    height: 70%;
  }
}