@import 'open-props/gray';

.year {
  padding: 0.5em;
  aspect-ratio: 1;
  background-color: white;
  border: 2px solid var(--gray-8);
  border-radius: 50%;
  /* box-shadow: 0px 0px 10px 0px var(--gray-8); */
  font-size: 1.1em;
  transition: background-color 0.1s ease;
  &:hover {
    cursor: pointer;
    color: white;
    background-color: var(--orange-7);
  }
  &:not(:last-of-type) {
    margin-right: 0.5em;
  }
  &.active {
    color: white;
    background-color: var(--orange-7);
  }
}
